:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --text-color: #ffffff;
  --feedback-color: #757575;
  --background-button-color: #188ce8;
  --background-buttons-color: #f5f4fa;
  --background-color: #2f303a;
  --logo-color: #000000;
  --portfolio-background-color: #f5f5f5;
  --portfolio-header-color: #ececec;
  --social-color: #afb1b8;
  --contact-color: #212121;
}

.main-text-roboto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  margin-top: 10px;
  margin-left: 8px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.main-header {
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
  border-color: var(--portfolio-header-color);
}

.number {
  color: var(--feedback-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.nav-feedback__contacts-info {
  color: var(--feedback-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.studio {
  color: var(--accent-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.main-header__logo {
  margin-right: 92px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  letter-spacing: 0.03em;
}

span {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.header-feedback {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0;
}

.nav-list__items:not(:last-child) {
  margin-right: 50px;
}

.nav-feedback__contacts:not(:last-child) {
  margin-right: 40px;
}

.nav-feedback__contacts-info-images {
  fill: currentColor;
  margin-right: 8px;
}

.after-link {
  position: relative;
  color: var(--accent-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.after-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
}

.nav-list__items-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.footer-logo {
  color: var(--text-color);
  margin-bottom: 28px;
}

footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-team {
  color: var(--text-color);
  text-align: left;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.workers-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-link-footer:focus, .workers-link-footer:hover {
  background-color: var(--accent-color);
}

.footer-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  padding: 0;
  color: var(--text-color);
  cursor: pointer;
}
.footer-btn:hover, .footer-btn:focus {
  background: var(--background-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-margin {
  margin-right: 94px;
}

.picture-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--text-color);
}

.contact-footer-message {
  display: flex;
}

.form-flex {
  display: flex;
}

.contact-mail-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  margin-top: 0;
  background: transparent;
  color: var(--text-color);
}

.footer-address:not(:last-child) {
  margin-bottom: 12px;
}

.footer-finish {
  margin-top: 0;
  margin-bottom: 0px;
}

address {
  margin-top: 30px;
}

.footer-address-position {
  width: 230px;
  margin-right: 70px;
}

.footer-position {
  display: flex;
  align-items: baseline;
}

.workers-social-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.workers-footer {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-social__link-job-items:not(:last-child) {
  margin-right: 10px;
}

.workers-social__link-job-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-social__link-job-footer:focus, .workers-social__link-job-footer:hover {
  background-color: var(--accent-color);
}

.portfolio-indent {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-indent-buttons:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background: var(--background-buttons-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--text-color);
  background: var(--accent-color);
}

.main-button {
  padding: 10px 24px;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--text-color);
  background: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover, .main-button:focus {
  background-color: var(--background-button-color);
  cursor: pointer;
}
.main-button:active {
  background-color: var(--accent-color);
}

.employees {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.employees__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--text-color);
}

.main-sabtitle__employees:not(:last-child) {
  margin-right: 30px;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-buttons-color);
}

.names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.names-jobs-style {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.jobs {
  color: var(--feedback-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}

.workers-social__link-job {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-social__link-job:focus, .workers-social__link-job:hover {
  background-color: var(--accent-color);
}

.workers-social__link-job-images {
  width: 20px;
  height: 20px;
  fill: var(--social-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-social__link-job:focus .workers-social__link-job-images, .workers-social__link-job:hover .workers-social__link-job-images {
  fill: var(--text-color);
}

.workers-social {
  display: flex;
  justify-content: space-between;
}

.workers-social__link:not(:last-child) {
  margin-right: 10px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  fill: var(--accent-color);
}

.modal-window-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
}

.contact-form-btn {
  padding: 10px 24px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-color);
  background: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: var(--background-button-color);
  cursor: pointer;
}

.contact-form {
  padding: 40px;
}

.contact-form-field {
  display: block;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--feedback-color);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
}
.contact-form-input:focus, .contact-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-images-pic {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 60%;
  left: 14px;
  transform: translateY(-50%);
  fill: var(--contact-color);
}
.contact-form-input:focus + .contact-form-images-pic {
  fill: var(--accent-color);
}
.contact-form-input:hover + .contact-form-images-pic {
  fill: var(--accent-color);
}

.contact-form-images {
  position: relative;
  display: block;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 10px 15px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--feedback-color);
  margin-left: 15px;
}
.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-color: var(--contact-color);
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 8px;
}
.input-contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  border: 0;
  background-repeat: no-repeat;
  background-image: url(../images/check-box/accept.svg);
  background-position: center;
  background-color: var(--accent-color);
}
.contact-form-checkbox-label::before .input-contact-form-checkbox:hover, .input-contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.contact-link {
  color: var(--accent-color);
}

.input-contact-form-checkbox {
  position: relative;
  left: 15px;
  top: 20px;
}

.main-section__text {
  justify-content: center;
}

.main-section-color {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/Img.png");
  background-size: cover;
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-section__text-type {
  text-align: center;
  max-width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.background-color {
  display: flex;
  background-color: var(--background-buttons-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.saptitel {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  max-width: 270px;
  margin-top: 0;
  margin-bottom: 10px;
}

.sabtitel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--feedback-color);
  max-width: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.main-sabtitle {
  display: flex;
  margin-top: 0;
}

.main-sabtitle__employees-images {
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.work-images {
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.company {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
}

.company-style__magrin-link-images {
  width: 106px;
  height: 60px;
}

.company-style {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.company-style__magrin:not(:last-child) {
  margin-right: 30px;
}

.company-style__magrin-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--social-color);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--social-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-style__magrin-link:hover, .company-style__magrin-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.border-color {
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-buttons-color);
  border-top: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--text-color);
  position: relative;
  z-index: 2;
}

.portfolio-headers {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.headers-veiw {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--feedback-color);
  margin-bottom: 0;
  margin-top: 0;
}

.employees__card-portfolio {
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-background {
  padding-top: 94px;
  padding-bottom: 94px;
}

.employees__card-portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employees__card-portfolio-link:focus, .employees__card-portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-images__example {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}

.our-job {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-images__example:not(:last-child) {
  margin-right: 30px;
}

.our-advantages {
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-work {
  padding-bottom: 94px;
}

.work-images__example-pictures {
  display: block;
}

.employees__card-pictures {
  display: block;
}

.text-portfolio {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  top: 75%;
  z-index: 1;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employees__card-portfolio-link:hover .text-portfolio, .employees__card-portfolio-link:focus .text-portfolio {
  top: 0;
}

.text-portfolio-theme {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 64px 24px;
  color: var(--text-color);
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.feedback-footer-text {
  text-align: left;
}

.link-footer {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover, .link-footer:focus {
  color: var(--accent-color);
}

.feedback-adress {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.feedback {
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=main.css.map */