@import './utils/main/variables';
@import './base/main/common';
@import './base/main/container';
@import './utils/main/visually-hidden';
@import './componets/main/h2-text';
@import './componets/main/workers-names';
@import './layout/header';
@import './layout/main/footer';
@import './componets/potrfolio/buttons';
@import './componets/main/mainbutton';
@import './layout/main/employees';
@import './componets/main/modal-window';
@import './base/main/main-section';
@import './base/main/saptitel';
@import './layout/main/companies';
@import './layout/portfolio/potrfolio-links';
@import './layout/main/our-work';
@import './layout/portfolio/portfolio-text';
@import './layout/main/link-text';