.saptitel{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    max-width: 270px;
    margin-top: 0;
    margin-bottom: 10px;
    }
    .sabtitel{
        
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--feedback-color);
    max-width: 270px;
    margin-top: 0;
    margin-bottom: 0;
    }
    .main-sabtitle{
        display: flex;
        margin-top: 0;
    }
    .main-sabtitle__employees-images{
        display: flex;
        padding-left: 0;
        margin-top: 0;
    }
    .work-images{
        display: flex;
        padding-left: 0;
        margin-top: 0;
    }