.portfolio-indent {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-indent-buttons:not(:last-child) {
  margin-right: 8px;
}
.button {
  padding: 6px 22px;
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background: var(--background-buttons-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--text-color);
    background: var(--accent-color);
  }
}
