:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --text-color: #ffffff;
  --feedback-color: #757575;
  --background-button-color: #188ce8;
  --background-buttons-color: #f5f4fa;
  --background-color: #2f303a;
  --logo-color: #000000;
  --portfolio-background-color: #f5f5f5;
  --portfolio-header-color: #ececec;
  --social-color: #afb1b8;
  --contact-color: #212121;
}
.main-text-roboto{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

