@media screen and (min-width:320px){
  .footer-position {
    display: block;
    text-align: center;
  }
  .footer-address-position {
    width: 230px;
    margin-right: auto;
    margin-left: auto;
  }
  .feedback-footer-text {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-team {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .workers-social-footer {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .contact-mail-footer {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    margin-top: 0;
    background: transparent;
    color: var(--text-color);
    margin-bottom: 20px;
  }
  .footer-btn {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196f3;
    border-radius: 4px;
    border: 0;
    padding: 0;
    color: var(--text-color);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  
    &:hover,
    &:focus {
      background: var(--background-button-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  .footer-logo {
    color: var(--text-color);
  }
  address {
    margin-top: 28px;
    margin-bottom: 60px;
  }
  .footer-margin {
    margin-bottom: 105px;
  }
}
// @media screen and (min-width:480px){
  
// }
@media screen and (min-width: 768px) and (max-width: 1199px){
  .footer-address-position {
    margin-left: 0;
  }
  .footer-position {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 89px;
    padding-left: 76px;
  }
  .contact-mail-footer{
    width: 450px;
  }
}
@media screen and (min-width:1200px){
  .footer-position {
    display: flex;
    align-items: baseline;
  }
  .footer-address-position {
    margin-right: 70px;
    margin-left: 0;
    text-align: left;
  }
  .footer-margin {
    margin-bottom: 0;
    margin-right: 94px;
  }
  .footer-team{
    text-align: left;
  }
  .feedback-footer-text {
    text-align: left;
  }
  .form-flex{
    display: flex;
  }
  .contact-mail-footer{
    width: 358px;
  }
  address {
    margin-bottom: 0;
  }
  
}






footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.workers-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}


.picture-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--text-color);
}
.contact-footer-message {
  display: flex;
}


.footer-address:not(:last-child) {
  margin-bottom: 12px;
}
.footer-finish {
  margin-top: 0;
  margin-bottom: 0px;
}
.workers-footer {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-social__link-job-items:not(:last-child) {
  margin-right: 10px;
}
.workers-social__link-job-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}