
  .text-portfolio-theme {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 64px 24px;
    color: var(--text-color);
  }